@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
:root {
  --primary-color: #FF6600;
  --secondary-color: #FFECDF;
  --back-color: #F2FAFF;
}
.content-wrapper {
 background-color: var(--back-color)
}
.box {
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,.1);
}
.box-body {
 background-color: var(--secondary-color)
}
.skin-blue .main-header .logo {
  background-color: var(--back-color);
  color: var(--primary-color);
  font-weight: bold;
  font-family: 'Orbitron';
  width: unset;
}
.skin-blue .main-header .logo:hover {
  background-color: var(--back-color);
}
.skin-blue .main-header .navbar {
  background-color: var(--back-color);
}
.box.box-solid.box-primary>.box-header {
  color: black;
  background: var(--secondary-color);
}
.box.box-solid.box-primary>.box-header>.box-title {
  font-family: 'Orbitron';
}
.box.box-solid>.box-header>.box-tools .btn {
  color: black;
}
.box.box-solid.box-primary, .box.box-primary {
  border: none;
}
#general_page-stories_table-help {
  font-size: medium;
  text-decoration: underline;
  font-family: "Orbitron";
  color: var(--primary-color);
}
#general_page-stories_table-help:hover {
  opacity: 0.7;
}
#general_page-stories_table-stories_table {
    margin-top: 10px;
}